*.o
*.a
*.so
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.pc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet_cpp/examples/darknet_cpp_jetson_detection
darknet
.fuse*
*.log

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
